@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    }
body{
    background-image: linear-gradient(to right, #253C59, #2D4B73);
}
main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 15px 5px #111c2be1;
}
h1{
    color: #BF8D30;
    text-align: center;
    text-shadow: 1px 1px 2px #6e5017 ;
}
h2{
    color:#D9B70D;
    text-shadow: 1px 1px 2px #4b3f03d2;
}
p{
    text-align: justify;
}